.marker {
    position: relative;
    bottom: 43vh;
    background-image: url('../../assets/img/logos/arc-ing.svg');
    background-size: cover;
    width: 42px;
    height: 34px;
  }

  #map{
      overflow: hidden;
  }

  .contact-info{
      color: black;
  }

  .contact-info-container{
      background-color: #212529;
      height: 38vh;
      margin-top: 10px;
  }

  .contact-info-container table{
      color: white;
      position: relative;
      margin-top: 30px;
      text-align: left;
  }

  .contact-info-container table th{
    display: none;
}

.contact-info-container table a {
    color: white;
}
