.scrolled img{
    width: 80px !important;
}

.scrolled{
    background-color: #F7F7F7 !important;
    margin-top: -10px !important;
}

.lang-tr{
    margin-left: -20px;
}

.lang{
    background-color: transparent;
    border: 0px;
}